.file-div {
  border-radius: 15px;
  box-shadow: 0 1px 1em grey;
  margin-bottom: 3em;
}

.letter-btn {
  background-color: #93eb6f;
  color: black;
}

.import-btn {
  background-color: #6ec2eb;
  color: black;
  margin: 20px;
}
